Last login: Tue May  2 12:08:40 on ttys000
benjaminarayathel@Benjamins-MBP-1793 Curriculum-Resources % ls
Docker-notes		Microservices		README.md
Hello-Service		Monitoring		SOAP-Example
Kubernetes		ProjectDetails.md
benjaminarayathel@Benjamins-MBP-1793 Curriculum-Resources % ls -a
.			Docker-notes		ProjectDetails.md
..			Hello-Service		README.md
.git			Kubernetes		SOAP-Example
.gitignore		Microservices
.vscode			Monitoring
benjaminarayathel@Benjamins-MBP-1793 Curriculum-Resources % vim .gitignore 












# Created by https://www.toptal.com/developers/gitignore/api/eclipse,intellij,java
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse,intellij,java

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
".gitignore" 209L, 4088B

